@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor--primaria: black;
    --cor--segundaria: white;
    --cor--terciaria: #22D4FD;
    --cor--hover: #272727;

    --fonte--primaria: "Montserrat", sans-serif;
    --fonte--segundaria: "Krona One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor--segundaria);
}

/* ->>> HEADER: */

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    column-gap: 80px;
}

.cabecalho__menu__link{
    color: var(--cor--terciaria);
    font-family: var(--fonte--primaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
}

/* ->>> MAIN: */

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 300px;
}

.apresentacao__perfil{
    width: 50%;
}

.apresentacao__descricao__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte--segundaria);
    font-weight: 400;
    font-style: normal;
}


.apresentacao__descricao__texto{
    font-size: 1.5rem;
    font-family: var(--fonte--primaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* ->>> FOOTER: */

.rodape{
    padding: 24px;
    background-color: var(--cor--terciaria);
}

.rodape__texto{
    text-align: center;
    color: var(--cor--primaria);
    font-family: var(--fonte--primaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

/* ->>> RESPONSIVIDADE: */

@media (max-width: 1264px) {
    .cabecalho{
        padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__descricao{
        width: auto;
    }

    .apresentacao__perfil{
        padding: 0% 0% 5% 0%;
    }
}

